branches:
  only:
  - master
  - dev
  - branch-a
  - branch-b
import:
- source: .travis/test1.yml
  if: branch = dev || branch = master || branch = branch-a
- source: .travis/test2.yml
  if: branch = dev || branch = master || branch = branch-b